body {
    margin-top: 100px;
}

.input {
    margin:0 auto;
    width:50%;
}

.input input {
    border: 1px solid black;
    width: 70%;
}

.input button {
    width: 30%;
}


h1 {
    text-align: center;
}

.todoItem {
    width: 90%;
    margin: 0.5em;
}

button.closeX {
    width: 10%;
    color: red;
    font-weight: 800;
    background-color: #fff;
    border: none;

}