body {
    margin-top: 100px;
}

.input {
    margin:0 auto;
    width:400px;
}

.input input, .input textarea {
    border: none;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    padding: 8px 15px;
    width: 100%;
    margin-bottom: 0.5em;
}


.input button {
    width: 100%;
    background-color: rgb(173, 236, 135);
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}


h1 {
    text-align: center;
}

.todoItem {
    width: 90%;
    margin: 0.5em;
}

.titleObject {
    margin: 0.5em;
}

button.closeX {
    width: 10%;
    color: red;
    font-weight: 800;
    background-color: #fff;
    border: none;

}